.dataset_items{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 1.5rem;
    row-gap: 5.5rem;
    margin: 0 auto;
}

.thirdPage_wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0;
    position: relative;
}

.thirdPage_wrapper span{
 color: rgb(249, 87, 0);
 
}

.curve_image{
    position: absolute;
    top: 100px;
    left: 45%;
    transform: translateX(-46%);
    width: 1336px;
    height: 230px;
}


.underline_wrapper{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 0.7rem;
}

.underline_text{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    
}

.underline_text img{
    width: 15rem;
}

@media (max-width: 1500px){
    .curve_image{
        width: 90vw;
        height: 14vw;
    }
}

@media (max-width: 1400px){
    .curve_image{
        width: 95vw;
        height: 14vw;
    }
}

@media (max-width: 1350px){
    .curve_image{
        width: 97vw;
        height: 15vw;
    }
}

@media (max-width: 1300px){
    .curve_image{
        width: 97vw;
        height: 15vw;
    }
}